img {
    width: auto;
    height: 60px;
}

.navbar {
    padding-left: 4rem;
    padding-right: 0.5rem;
    height: 60px;
    background-color: aliceblue;
}

#title {
    color: rgb(214, 154, 154);
}

#cartIcon {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(231, 231, 231);
}

#cartIcon:hover {
    color: white;
    cursor: pointer;
}